In [47]:
import pandas as pd
import numpy as np

In [48]:
# Load tracks data
tracks = pd.read_csv('../data/raw/tracks.csv')

# Preview data
tracks.head()

,id,name,popularity,duration_ms,explicit,artists,id_artists,release_date,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
0,35iwgR4jXetI318WEWsa1Q,Carve,6,126903,0,['Uli'],['45tIt06XoI0Iio4LBEVpls'],1922-02-22,0.645,0.4450,0,-13.338,1,0.4510,0.674,0.7440,0.151,0.127,104.851,3
1,021ht4sdgPcrDgSk7JTbKY,Capítulo 2.16 - Banquero Anarquista,0,98200,0,['Fernando Pessoa'],['14jtPCOoNZwquk5wd9DxrY'],1922-06-01,0.695,0.2630,0,-22.136,1,0.9570,0.797,0.0000,0.148,0.655,102.009,1
2,07A5yehtSnoedViJAZkNnc,Vivo para Quererte - Remasterizado,0,181640,0,['Ignacio Corsini'],['5LiOoJbxVSAMkBS2fUm3X2'],1922-03-21,0.434,0.1770,1,-21.180,1,0.0512,0.994,0.0218,0.212,0.457,130.418,5
3,08FmqUhxtyLTn6pAh6bk45,El Prisionero - Remasterizado,0,176907,0,['Ignacio Corsini'],['5LiOoJbxVSAMkBS2fUm3X2'],1922-03-21,0.321,0.0946,7,-27.961,1,0.0504,0.995,0.9180,0.104,0.397,169.980,3
4,08y9GfoqCWfOGsKdwojr5e,Lady of the Evening,0,163080,0,['Dick Haymes'],['3BiJGZsyX9sJchTqcSA7Su'],1922,0.402,0.1580,3,-16.900,0,0.0390,0.989,0.1300,0.311,0.196,103.220,4

In [74]:
tracks_clean['artists'] = tracks_clean['artists'].str.replace(r"[\[\]']", "", regex=True)
tracks_clean['artists'] = tracks_clean['artists'].str.replace(r'[\[\]\'"]', '', regex=True)

In [75]:
# Check null values
tracks.isnull().sum()

# Drop rows with any nulls
tracks_clean = tracks.dropna()

# Check again to confirm
tracks_clean.isnull().sum()

id                  0
name                0
popularity          0
duration_ms         0
explicit            0
artists             0
id_artists          0
release_date        0
danceability        0
energy              0
key                 0
loudness            0
mode                0
speechiness         0
acousticness        0
instrumentalness    0
liveness            0
valence             0
tempo               0
time_signature      0
dtype: int64

In [76]:
# Keep tracks with popularity > 0
tracks_clean = tracks_clean[tracks_clean['popularity'] > 0]

# Check shape
tracks_clean.shape

(541970, 20)

In [77]:
tracks_clean.columns

Index(['id', 'name', 'popularity', 'duration_ms', 'explicit', 'artists',
       'id_artists', 'release_date', 'danceability', 'energy', 'key',
       'loudness', 'mode', 'speechiness', 'acousticness', 'instrumentalness',
       'liveness', 'valence', 'tempo', 'time_signature'],
      dtype='object')

In [78]:
# Convert release_date to datetime
tracks_clean['release_date'] = pd.to_datetime(tracks_clean['release_date'], errors='coerce')

# Extract year from release_date
tracks_clean['year'] = tracks_clean['release_date'].dt.year

In [79]:
tracks_clean['release_date'].isnull().sum()

121538

In [80]:
tracks_clean[['release_date']].head(20)

    release_date
0     1922-02-22
13           NaT
26           NaT
149          NaT
150          NaT
151          NaT
152          NaT
153          NaT
154          NaT
155          NaT
156          NaT
157          NaT
158          NaT
159          NaT
160          NaT
161          NaT
162          NaT
163          NaT
164          NaT
165          NaT

In [81]:
tracks_clean = tracks_clean.dropna(subset=['release_date'])

In [82]:
tracks_clean.shape

(420432, 21)

In [83]:
# Create a simple artist_name to genre mapping
genre_mapping = {
    'Drake': 'Hip-Hop',
    'Eminem': 'Rap',
    'Adele': 'Pop',
    'The Beatles': 'Rock',
    'Ed Sheeran': 'Pop',
    'Coldplay': 'Alternative Rock',
    # Add more as needed
}

# Map genres
tracks_clean['genre'] = tracks_clean['artists'].map(genre_mapping)

# Fill NaN genres as 'Other'
tracks_clean['genre'] = tracks_clean['genre'].fillna('Other')

In [84]:

tracks_clean.to_csv('../data/cleaned/cleaned_tracks.csv', index=False)

print('Cleaned dataset saved successfully!')

Cleaned dataset saved successfully!